 @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap");
/*
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  background-image: url(../src/images/pexels-polina-tankilevitch-3873146.jpg);
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;              
   }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  rgba(112, 1, 147, 0.7);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}